

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #5f589d, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .content {
    z-index: 2;
    padding: 20px;
    max-width: 600px;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: 600;
}

header h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: 300;
    color: #e0e0e0;
}

header p {
    font-size: 1.2em;
    margin-bottom: 30px;
    font-weight: 300;
}

header .buttons .btn {
    text-decoration: none;
    color: #fff;
    background: #466280;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 50px;
    font-size: 1em;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);
}

header .buttons .btn:hover {
    background: #0056b3;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    header h2 {
        font-size: 1.2em;
    }

    header p {
        font-size: 1em;
    }

    header .buttons .btn {
        padding: 10px 20px;
        font-size: 0.9em;
    }
}
