* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
img:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  height: 250vh;
  width: 98.2vw;
  padding: .5vw;
  align-items: center;
  flex-direction: column;
  background-color: #d3d3d3;
}
.header-nav {
  display: flex;
  gap: .9rem;
  margin-left: -2px;

  a {
      color: rgba(0, 0, 0, 0.742);
  }
  a:hover {
      color: black;
  }
}

section {
  width: 100vw;
  padding: 1rem 5vw;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}



.design-one-header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: .7rem 4vw .7rem 4vw;
    align-items: center;
    background-color: #f1faee;
    border-bottom: 3px #69abdc solid;
    border-top: 3px #69abdc solid;

    & > .navigation {
        display: flex;
        gap: 1rem;
        align-items: space-between;

        & > .navigation-content {
            color: #1d3557;
            font-weight: 800;
            font-size: 1.2rem;
        }

        & > .logo {
          display: block;
          height: 8vh;
          margin: 0 1rem;
    }
}
}

.design-two-header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: .7rem 4vw .7rem 4vw;
    align-items: center;
    background: black;
  
    .logo {
        height: 75px;
        transform: rotate(45deg) scale(1.2);
        margin: 0 2rem;
    }
    & > .navigation {
        display: flex;
        gap: 1rem;
        align-items: center;
        width: 50%;
        justify-content: space-between;
  
        & > .navigation-content {
            color: white;
            font-weight: 800;
            font-size: 1.2rem;
            width: 100%;
            text-align: center;
        }
  
        & > .call-to-action {
            border: 3px white solid;
            background-color: black;
            color: #1f3976;
            padding: .5rem 1rem;
            border-radius: 60px;
        }
    }
  }

.design-three-header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: .7rem 4vw .7rem 4vw;
  align-items: center;
  background-color: black;

  .logo {
      height: 100px;
  }
  & > .navigation {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;

      & > .navigation-content {
          color: white;
          font-weight: 700;
          font-size: 1.6rem;
          color: #641953;
      }
      & > .navigation-icon {
          color: white;
          font-weight: 800;
          font-size: 1.8rem;
          color: rgba(182, 180, 180, 0.623);
      }
  }
}

.design-four-header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: .7rem 10vw;
  align-items: center;
  background-image:url(../img/red-bg.jpg);
  background-size: cover;

  .logo {
      height: 45px;
  }

  .nav-border-left {
      position: absolute;
      left: 50%;
      border-radius: 60px;
      border: 2px #ff5724af solid;
      background-color: #ff5724af;
      backdrop-filter: blur(100px);
      width: 37vw;

  }
  .navigation {
      display: flex;
      text-align: center;
      justify-content: space-evenly;

      & > .navigation-content {
          color: white;
          font-weight: 500;
          font-size: 1.5rem;
      }
  }

  .nav-border-right {
      position: absolute;
      left: 90vw;
      border-radius: 60px;
      border: 2px #ff5724af solid;
      background-color: #ff5724af;
      backdrop-filter: blur(100px);
      width: 5vw;
  }

  .navigation-right {
      display: flex;
      text-align: center;
      justify-content: space-evenly;

      & > .navigation-right-icon {
          color: aliceblue;
          font-weight: 600;
          font-size: 1.5rem;
      }
  }
}

.design-five-header {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 17.2vh;
  width: 100vw;

  .top-div {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(175, 175, 175);
      height: 63%;
      width: 100vw;
  }
      .logo {
          position: absolute;
          height: 70px;
      }

      .box {
          position: absolute;
          left: 75%;
          width: 400px;
          height: 50px;
          background-color: black;
          border-radius: 30px;
          border: 3px white solid;
          display: flex;
          align-items: center;
          padding: 20px;
      }
      .box > i {
          font-size: 20px;
          color: white;
      }

      .box > input {
          flex: 1;
          height: 40px;
          border: none;
          outline: none;
          font-size: 18px;
          padding-left: 10px;
          background-color: black;
          color: white;
      }
      ::placeholder {
          color: white;
      }

  .bottom-div {
      display: flex;
      height: 37%;
      justify-content: center;
      align-items: center;
      background-color: white;
  }

  .navigation {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
  }
  a {
      font-weight: 600;
      color: black;
  }
  .navigation-content {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
  }
}

.design-one-animated-header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: .7rem 4vw .7rem 4vw;
  align-items: center;
  background-color: #f1faee;
  border-bottom: 3px #69abdc solid;
  border-top: 3px #69abdc solid;

  .logo {
      height: 8vh;
  }
  & > .navigation {
      display: flex;
      height: 100%;
      gap: 1rem;
      align-items: center;

      & > .navigation-content {
          display: flex;
          font-weight: 800;
          font-size: 1.2rem;
          justify-content: center;
          align-items: center;
      }
  }
  .navigation-content:not(:hover) {
      color: #1d35579d;
  }
  .navigation-content:hover {
      color: #1d3557;
      border-bottom:2px black solid;
      margin-bottom: -2px;
  }
}

.design-two-animated-header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: .7rem 4vw .7rem 4vw;
  align-items: center;
  background: black;

  .logo {
      height: 45px;
  }
  & > .navigation {
      display: flex;
      gap: 1rem;
      align-items: center;
      width: 50%;
      justify-content: space-between;

      & > .navigation-content {
          color: white;
          font-weight: 800;
          font-size: 1.2rem;
          width: 100%;
          text-align: center;
      }

      & > .call-to-action {
          border: 3px white solid;
          background-color: black;
          color: #1f3976;
          padding: .5rem 1rem;
          border-radius: 60px;
      }
      & > .navigation-content:hover {
          border-bottom: 4px #1f397682 solid;
          bottom: -4px;
          background-color: #1f3976;
          border-radius: 10px 10px 10px 10px;
          color: rgb(0, 0, 0);
      }

      & > .call-to-action:hover {
          border: 3px #1f3976 solid;
          color: black;
          background-color: white;
          border-radius: 60px;
      }
  }
}

.design-three-animated-header {
  display: flex;
  width: 100vw;
  height: 14.2vh;
  justify-content: space-between;
  padding: .7rem 4vw .7rem 4vw;
  align-items: center;
  background-color: black;

  .pop-up-logo-div {
      height: 100%;
      display: flex;
      align-items: center;
  }
  .logo {
      height: 100px;
  }
  .pop-up-logo {
      display: none;
  }
  & > .navigation {
      display: flex;
      gap: 1rem;
      align-items: center;

      & > .navigation-content {
          color: white;
          font-weight: 700;
          font-size: 1.6rem;
          color: #641953;
      }
      & > .navigation-icon {
          font-weight: 800;
          font-size: 1.8rem;
          color: rgba(57, 10, 10, 0.623);
      }
  }
  .pop-up-logo-div:hover .pop-up-logo{
      display: flex;
      height: 10vh;
  }
  .navigation-content:not(:hover){
      color: #641952a0;
  }
  .navigation-content:hover {
      color: #641953;
      text-shadow: 0px 10px 30px white;
      border-bottom: 2px white solid;
      margin-bottom: -2px;
  }
  .fa-facebook-f:hover {
      color: #1877F2;
      text-shadow: 0px 10px 30px white;
  }
  .fa-instagram:hover {
      color:white;
      text-shadow: 0px 10px 30px white;
  }
  .fa-twitter:hover {
      color: #1DA1F2;
      text-shadow: 0px 10px 30px white;
  }
  .fa-youtube:hover {
      color: #FF0000;
      text-shadow: 0px 10px 30px white;
  }
}

.design-four-animated-header {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 17.2vh;
  width: 100vw;

  .top-div {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ff5724af;
      height: 63%;
      width: 100vw;
  }

      .logo {
          position: absolute;
          height: 70px;
      }

      .box {
          position: absolute;
          left: 75%;
          height: 50px;
          cursor: pointer;
          background-color: #ff5724af;
          border-radius: 30px;
          border: 3px white solid;
          display: flex;
          align-items: center;
          padding: 20px;
      }
      .box:hover input {
          width: 330px;
      }
      .box i {
          font-size: 20px;
          color: white;
      }

      .box > input {
          width: 0;
          height: 40px;
          border: none;
          outline: none;
          font-size: 18px;
          padding-left: 10px;
          transition: 0.8s;
          background: transparent;
          background-color: #ff5724af;
          color: white;
      }
      ::placeholder {
          color: white;
      }

  .bottom-div {
      display: flex;
      height: 37%;
      justify-content: center;
      align-items: center;
      background-color: white;
  }

  .navigation {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
  }
  a {
      font-weight: 600;
      color: black;
  }
  .navigation-content {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
  }
  .navigation-content:hover{
      height: 100%;
      align-items: center;
      background-color: rgba(146, 146, 146, 0.487);
      border-bottom: 2px #ff5724af solid;
      padding-top: 2px;
  }
}

.design-five-animated-header {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 100vw;

  .top-div {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(175, 175, 175);
      height: 36.2%;
      width: 100vw;
  }
      .logo {
          position: absolute;
          height: 70px;
      }

      .box {
          position: absolute;
          left: 75%;
          height: 50px;
          cursor: pointer;
          background-color: black;
          border-radius: 30px;
          border: 3px white solid;
          display: flex;
          align-items: center;
          padding: 20px;
      }
      .box:hover input {
          width: 330px;
      }
      .box i {
          font-size: 20px;
          color: white;
      }

      .box > input {
          width: 0;
          height: 40px;
          border: none;
          outline: none;
          font-size: 18px;
          padding-left: 10px;
          transition: 0.8s;
          background: transparent;
          background-color: black;
          color: white;
      }
      ::placeholder {
          color: white;
      }

  .middle-div {
      display: flex;
      height: 63.8%;
      width: 100%;
      background-color: white;
      a {
          font-weight: 600;
          color: black;
      }

      .teams {
          display: flex;
          height: 6.5vh;
          width: 16.7vw;
          background-color: white;
          align-items: center;
          justify-content: center;
      }
      .content-teams {
          display: none;
      }
      .drop-down-div-teams:hover .content-teams {
          display: flex;
          width: 16.7vw;
          justify-content: center;
          align-items: center;
          height: 33.2%;
      }
      .drop-down-div-teams:hover .teams {
          background-color: rgba(146, 146, 146, 0.487);
          border-bottom: 2px black solid;
          padding-top: 2px;
      }
      .teams-one:hover {
          background-color: rgba(146, 146, 146, 0.487);
      }
      .teams-two:hover {
          background-color: rgba(146, 146, 146, 0.487);
      }

      .hoodies,
      .news,
      .about {
          display: flex;
          height: 6.5vh;
          width: 16.7vw;
          align-items: center;
          justify-content: center;
          background-color: white;
      }
      .hoodies:hover {
          background-color: rgba(146, 146, 146, 0.487);
          border-bottom: 2px black solid;
          margin-top: 1px;
      }
      .news:hover {
          background-color: rgba(146, 146, 146, 0.487);
          border-bottom: 2px black solid;
          margin-top: 1px;
      }
      .about:hover {
          background-color: rgba(146, 146, 146, 0.487);
          border-bottom: 2px black solid;
          margin-top: 1px;
      }

      .accessories {
          display: flex;
          height: 6.5vh;
          width: 16.7vw;
          align-items: center;
          justify-content: center;
          background-color: white;
      }
      .content-accessories {
          display: none;
      }
      .drop-down-div-accessories:hover .content-accessories{
          display: flex;
          width: 16.7vw;
          justify-content: center;
          align-items: center;
          height: 33.2%;
      }
      .drop-down-div-accessories:hover .accessories {
          background-color: rgba(146, 146, 146, 0.487);
          border-bottom: 2px black solid;
          padding-top: 2px;
      }
      .accessories-one:hover {
          background-color: rgba(146, 146, 146, 0.487);
      }
      .accessories-two:hover {
          background-color: rgba(146, 146, 146, 0.487);
      }

      .where {
          display: flex;
          height: 6.5vh;
          width: 16.5vw;
          align-items: center;
          justify-content: center;
          background-color: white;
      }
      .content-where {
          display: none;
      }
      .drop-down-div-where:hover .content-where{
          display: flex;
          width: 16.5vw;
          justify-content: center;
          align-items: center;
          height: 33.3%;
      }
      .drop-down-div-where:hover .where {
          background-color: rgba(146, 146, 146, 0.487);
          border-bottom: 2px black solid;
          padding-top: 2px;
      }
      .where-one:hover {
          background-color: rgba(146, 146, 146, 0.487);
      }
      .where-two:hover {
          background-color: rgba(146, 146, 146, 0.487);
      }
  }
}